<ion-header>
  <ion-toolbar>
    <ion-title>
      Movement
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item vertical="center" horizontal="center">
      {{ items | async | json }}
  </ion-item>

  <ion-button expand="block" (click)="updateValue()" >Reset Value</ion-button>
  <ion-button expand="block" (click)="dMotionWatch()" >Watch</ion-button>
  <ion-button expand="block" (click)="dMotionUnwatch()" >Unwatch</ion-button>

  <!-- <ion-fab vertical="bottom" slot="fixed">  -->
      <ion-button expand="block" (click)="slash()" >Slash</ion-button>
  <!-- </ion-fab> -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="flash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
