<ion-header>
  <ion-toolbar>
    <ion-title>
      Movement
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
      {{ items | async | json }}
  </ion-item>
  <ion-list>
      <ion-item>
        <ion-label>X:{{oX}}</ion-label>
      </ion-item>
      <ion-item> 
        <ion-label>Y:{{oY}}</ion-label>
      </ion-item>
      <ion-item> 
        <ion-label>Z:{{oZ}}</ion-label>
      </ion-item>
      <ion-item> 
        <ion-label>Time:{{oT}}</ion-label>
      </ion-item>
      <ion-item> 
        <ion-label>Function:{{fn}}</ion-label>
      </ion-item>
      <ion-item> 
        <ion-label>Object:{{oO}}</ion-label>
      </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="updateValue()" >Update Var</ion-button>
  <ion-button expand="block" (click)="dMotionWatch()" >Watch</ion-button>
  <ion-button expand="block" (click)="dMotionUnwatch()" >Unwatch</ion-button>
</ion-content>
